version: "3.3"

services:
  nginx:
    # ---
    image: nginx
    networks:
      - barlijst
    volumes:
      - ./new-config-2.conf:/etc/nginx/conf.d/config.conf
    restart: always
  database:
    depends_on:
      - nginx
    image: postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - barlijst
    environment:
      POSTGRES_PASSWORD: postgres
  backend:
    depends_on:
      - database
    image: docker.oetze.nl/gemmabar
    environment:
      ASPNETCORE_URLS: http://+:8000
    networks:
      - barlijst
  frontend:
    # ---
    image: docker.oetze.nl/gemmabarspa:offline
    networks:
      - barlijst
    restart: always

networks:
  barlijst:
