version: "3.3"

services:
  nginx:
    ports:
    - 80:80
    # ---
    image: nginx
    networks:
      - barlijst
    volumes:
      - ./new-config-2.conf:/etc/nginx/conf.d/config.conf
    restart: always
    depends_on:
      - backend
  database:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always
    networks:
      - barlijst
    environment:
      POSTGRES_PASSWORD: postgres
  backend:
    restart: always
    depends_on:
      - database
    image: docker.oetze.nl/gemmabar:thuis
    environment:
      ASPNETCORE_URLS: http://+:8000
    volumes:
      - images:/app/Images
    networks:
      - barlijst
  frontend:
    # ---
    image: docker.oetze.nl/gemmabarspa:offline
    networks:
      - barlijst
    restart: always

networks:
  barlijst:

volumes:
  postgres-data:
  images:
